*.log
.svn/
*.o
*.sw*
autom4te.cache
aclocal.m4
.depend
motion
config.h
config.status
config.h.in
Makefile
configure
motion-dist.conf
motion.init-Debian
motion.init-Fedora
motion.init-FreeBSD.sh
motion.spec
thread1-dist.conf
thread2-dist.conf
thread3-dist.conf
thread4-dist.conf
