Makefile
config.h
motion
motion.init-Debian
motion.init-FreeBSD.sh
motion.service
motion.spec
motion-dist.conf
camera1-dist.conf
camera2-dist.conf
camera3-dist.conf
camera4-dist.conf

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# CMake -G Xcode
CMakeScripts/
motion.build/
motion.xcodeproj/

# automake
*.o
*.log
.depend
autom4te.cache
aclocal.m4
config.status
configure
