before_script:
  - autoreconf -fiv
script: ./configure && make

matrix:
  include:
  - os: linux
    language: c
    compiler: gcc
    addons:
      apt:
        packages:
        - libavformat-dev
        - libavcodec-dev
        - libavutil-dev
        - libswscale-dev
        - libavdevice-dev
        - libjpeg8-dev
        - libzip-dev
  - os: linux
    language: c
    compiler: gcc
    dist: trusty
    addons:
      apt:
        sources:
        - sourceline: 'ppa:mc3man/trusty-media'
        packages:
        - libavformat-dev
        - libavcodec-dev
        - libavutil-dev
        - libswscale-dev
        - libavdevice-dev
        - libjpeg8-dev
        - libzip-dev

