@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-surface text-white;
  }

  body {
    @apply font-sans antialiased;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
